# Dependencies
node_modules/
**/node_modules/

# Environment variables and secrets
.env
.env.*
**/.env
!.env.example

# Build files
dist/
**/dist/
build/
coverage/

# Operating system files
.DS_Store
Thumbs.db

# Debug logs
npm-debug.log*